* {
  margin: 0;
  padding: 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.search-wrap {
  width: 200px;
  margin: 20px auto;
  padding: 10px;
  background-color: pink;
}

.search-item .inp {
  width: 150px;
  height: 20px;
  text-indent: 5px;
  border: 2px solid #bfbfbf;
}

.search-item span {
  font-size: 13px;
}

.table-tt {
  margin: 5px 0;
}

.table-wrap .price {
  margin-left: 50px;
}

.item-wrap div {
  float: left;
}

.item-wrap .item-price {
  margin-left: 30px;
}
